<%- include('../partials/questions/head') %>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/1') %>
      <div class="box answer">
        <h3>Answer</h3>
        <p>Here's my answer</p>
        <%- include( '../partials/questions/navigation', {before: "/", next:
        "/question2"}) %>
      </div>
    </div>
  </div>
</body>
