<%- include('../partials/questions/head') %>
<body>
  <header>
    <h1>Node: Workshop 1</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/1') %>
      <div class="box answer">
        <h3>Answer</h3>
        <p>Here's my answer</p>
      </div>
    </div>
  </div>
</body>
